<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card class="login-card">
    <ion-card-content>
      <ion-item>
        <ion-input placeholder="Correo electrónico" [(ngModel)]="loginData.email" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Contraseña" [(ngModel)]="loginData.pass" type="password"></ion-input>
      </ion-item>
      <ion-button expand="full" color="primary" (click)="login()">Iniciar sesión</ion-button>
      <ion-label class="forgot-password">¿Olvidaste tu contraseña?</ion-label>
      <ion-button expand="full" color="danger" class="google-login">
        Iniciar sesión con Google
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-label class="register-link">¿No tienes una cuenta? <a (click)="navigateToRegisterPage()">Regístrate</a></ion-label>
</ion-content>
